<div class="container">
  <div class="text-white p-4 mb-2">
    <h5>Olá, <%= current_admin.name.to_s.split.first.presence || "Usuário" %></h5>
  </div>

  <div class="px-3 py-3 mb-4 d-flex align-items-center justify-content-between">
    <div class="d-flex flex-column align-items-center text-center me-3">
      <div class="bg-white border border-2 border-secondary rounded-circle d-flex justify-content-center align-items-center mb-1" style="width: 40px; height: 40px;">
        <i class="bi bi-cash-stack text-dark fs-6"></i>
      </div>
      <small>Receitas da Semana</small>
      <h6 class="fw-semibold text-white mb-0">
        <%= number_to_currency(@weekly_revenues, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %>
      </h6>
    </div>

    <div style="width: 1px; height: 50px; background-color: #e5e7eb;"></div>
    <div class="d-flex flex-column align-items-center text-center ms-3">
      <div class="bg-white border border-2 border-secondary rounded-circle d-flex justify-content-center align-items-center mb-1" style="width: 40px; height: 40px;">
        <i class="bi bi-cart-dash text-dark fs-6"></i>
      </div>
      <small>Despesas da Semana</small>
      <h6 class="fw-semibold text-blue mb-0">
        -<%= number_to_currency(@weekly_expenses, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %>
      </h6>
    </div>
  </div>


  <div class="row g-3 text-center mb-4">
    <div class="col-6">
      <div class="bg-white p-2 rounded-5 shadow-sm">
        <i class="fas fa-tractor fs-5 text-success fa-lg mb-1"></i>
        <p class="mb-0 small">Produções</p>
        <span class="fw-semibold"><%= @animal_productions.count %></span>
      </div>
    </div>
    <div class="col-6">
      <div class="bg-white p-2 rounded-5 shadow-sm">
        <i class="bi bi-tree text-success mb-1"></i>
        <p class="mb-0 small">Propriedades</p>
        <span class="fw-semibold"><%= @properties.count %></span>
      </div>
    </div>
  </div>

  <div class="mb-5 rounded-5 shadow-sm p-4 bg-white">
    <h5 class="mb-4 text-center fw-semibold" style="font-size: 0.95rem;">
      Últimas tarefas
    </h5>


    <% @tasks.each do |task| %>
      <div class="d-flex align-items-center justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <div class= "d-flex justify-content-center align-items-center me-3" style="width: 45px; height: 45px;">
            <i class="bi bi-tools fs-4"></i>
          </div>
          <div>
            <div><strong><%= truncate(task.description, length: 13) %></strong></div>
            <small class="text-muted"><%= task.created_at.strftime("%H:%M – %d %B") %></small>
          </div>
        </div>
        <div style="width: 1px; height: 50px; background-color: #94a3b8;"></div>
        <div class="text-end" style="width: 110px;">
          <small class="text-truncate d-block"><%= task.responsible.presence || "Sem responsável" %></small>
        </div>
      </div>
    <% end %>
  </div>
</div>
